.Player {
  height: 100%;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image:
            repeating-linear-gradient(
                    -45deg,
                    transparent,
                    transparent 2px,
                    rgba(193, 193, 193, 0.3) 3px,
                    rgba(193, 193, 193, 0.3) 4px,
                    transparent 5px,
                    transparent 6px
    ),
    linear-gradient(0, white 30%, transparent);
    -webkit-mask: url('../../../assets/images/background-luminance-mask.svg') 0 0 / contain;
    mask: url('../../../assets/images/background-luminance-mask.svg') 0 0 / contain;
  }
}


.Controls {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  justify-content: flex-start;

  padding: 60px 40px;
}

.Controls-buttons {
  width: 34%;
}

.Controls-status {
  width: 66%;
}